footer1 {
  position: relative;
  margin-top: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer1 p {
  color: rgb(15, 13, 13);
}
footer1 p1 {
  color: rgb(12, 11, 11);
}

.logo{
  size: 2cm;
}

.box{
 
  padding: 20px;
  width: 400px;
  height: auto;
  border: 1px solid rgb(66, 62, 62);
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
   position: relative;
  color: #fff; 
 }  

.background{
height: 720px;
width: 100%;
background-image: url("https://cdna.artstation.com/p/assets/images/images/012/351/378/original/vladyslav-silchuk-vladyslav-silchuk-as-wildwest-gif2.gif?1534348236");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.container .btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: #555;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
}

.container .btn:hover {
background-color: black;
text-align: center;
}

.banner {
background-image: url(./img/slider2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
text-align: center;
}

.services {
margin-top: 100px;
}

.services .service-item {
background-color: #1f3646;
color: #fff;
padding: 60px 30px 20px 30px;
text-align: center;
transition: all 0.5s;
}

.service-item h4 {
font-size: 17px;
text-transform: uppercase;
font-weight: 900;
letter-spacing: 0.5px;
margin-top: 40px;
margin-bottom: 20px;
}

.service-item .service-icon {
margin: 0 auto;
background-repeat: no-repeat;
display: inline-block;
width: 64px;
height: 64px;
text-align: center;
}

.first-service .service-icon {
background-image: url(./img/service-icon-01.png);
transition: all 0.5s;
}

.second-service .service-icon {
background-image: url(./img/service-icon-02.png);
transition: all 0.5s;
}

.third-service .service-icon {
background-image: url(./img/service-icon-03.png);
transition: all 0.5s;
}

.service-item:hover {
color: #121212;
background-color: #ffe165;
}

.first-service:hover .service-icon {
background-image: url(./img/service-icon-01.1.png);
}

.second-service:hover .service-icon {
background-image: url(./img/service-icon-02.2.png);
}


.third-service:hover .service-icon {
background-image: url(./img/service-icon-03.3.png);
}




.most-visited {
margin-top: 100px;
margin-bottom: 100px;
}

.visited-item {
box-shadow: 0px 5px 15px #ddd;
margin-bottom: 30px;
}

.visited-item .text-content {
background-color: #f4f4f4;
padding: 15px;
}

.visited-item img {
width: 100%;
overflow: hidden;
}

.visited-item h4 {
margin-top: 0px;
font-size: 16px;
font-weight: 700;
color: #121212;
}

.visited-item span {
font-size: 12px;
font-weight: 600;
text-transform: uppercase;
color: #3f6f90;
}

.owl-mostvisited .owl-pagination {
margin-top: 20px;
opacity: 1;
display: inline-block;
position: relative;
text-align: center;
z-index: 9999;
background-color: transparent;
height: 0px;
line-height: 0px;
padding: 0px;
}

.owl-mostvisited .owl-page span {
display: block;
width: 10px;
height: 10px;
margin: 0px 5px;
filter: alpha(opacity=50);
opacity: 0.5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: #ddd;
}

.owl-mostvisited .owl-controls .owl-page.active span,
.owl-mostvisited .owl-controls.clickable .owl-page:hover span{
filter: Alpha(Opacity=100);/*IE7 fix*/
opacity: 1;
display: inline-block;
background: #ffe165;
}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.owl-carousel .owl-wrapper:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
/* display none until init */
.owl-carousel{
display: none;
position: relative;
width: 100%;

}
.owl-carousel .owl-wrapper{
display: none;
position: relative;

}
.owl-carousel .owl-wrapper-outer{
overflow: hidden;
position: relative;
width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
-webkit-transition: height 500ms ease-in-out;
-moz-transition: height 500ms ease-in-out;
-ms-transition: height 500ms ease-in-out;
-o-transition: height 500ms ease-in-out;
transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
float: left;
}

.owl-controls {
@media (max-width: @screen-sm-max) {
  top: -120px;
}
top: -200px;
width: 100%;
text-align: center;
display: inline-block;
}

.owl-controls a {
color: #336699;
}

.owl-controls a:hover {
color: #336699;
}

.owl-controls .bg-prev {
position: absolute;
z-index: 1;
width: 50px;
height: 50px;
z-index:10; 
background:#fff; 
border: 1px solid #336699;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.owl-controls .bg-prev:before{
content:""; 
display:block; 
position:absolute; 
z-index:-1; 
top:3px; 
left:3px; 
right:3px; 
bottom:3px; 
border:2px solid #336699
}

.owl-controls .prev {
left: 15px;
z-index: 11;
position: absolute; 
width: 50px;
height: 50px;
line-height: 32px;
}

.owl-controls .prev.active {
background-image: none;
outline: 0;
-webkit-box-shadow: none;
        box-shadow: none;
}

.owl-controls .prev:active {
background-image: none;
outline: 0;
-webkit-box-shadow: none;
        box-shadow: none;
}

.owl-controls .bg-next {
position: absolute;
float: right;
z-index: 1;
width: 50px;
height: 50px;
position:relative; 
z-index:10; 
background:#fff; 
border: 1px solid #336699;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.owl-controls .bg-next:before{
content:""; 
display:block; 
position:absolute; 
z-index:-1; 
top:3px; 
left:3px; 
right:3px; 
bottom:3px; 
border:2px solid #336699
}

.owl-controls .next {
right: 15px;
z-index: 11;
position: absolute; 
width: 50px;
height: 50px;
line-height: 32px;
}

.owl-controls .next.active {
background-image: none;
outline: 0;
-webkit-box-shadow: none;
        box-shadow: none;
}

.owl-controls .next:active {
background-image: none;
outline: 0;
-webkit-box-shadow: none;
        box-shadow: none;
}


.owl-theme .owl-controls .owl-page{
cursor: pointer;
display: inline-block;
zoom: 1;
display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page a{
display: block;
width: 12px;
height: 12px;
margin: 0px 5px;
filter: Alpha(Opacity=50);/*IE7 fix*/
opacity: 0.5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: transparent;
border: 2px solid #888;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
filter: Alpha(Opacity=100);/*IE7 fix*/
opacity: 1;
display: inline-block;
}
.owl-controls {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



